header {
    width: 100%;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.head .AwooHeadLogo {
    width:150px;
}

.search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
}

.search .search-input {
    padding:5px 15px;
    border:1.5px solid #ee5c83; 
    cursor:pointer;
    width: 400px;
    border-radius: 5px 0 0 5px;
    height: 30px;
}

.search .sure-bottom {
    padding:5px 15px;
    border:1.5px solid #ee5c83;
    background-color: #ee5c83;
    color: #fff;
    cursor:pointer;
    width: 60px;
    font-size: 10px;
    font-family:sans-serif;
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}

.head .icon a {
    float: right;
    color: #999;
    font-size:20px;
    margin-left: 10px;  
}

.head .icon a i:hover {
    color: #272626;
}

.footer {
background-color:rgb(53, 52, 52); 
padding:10px;
position: absolute; /*相对于父元素contanier定位*/
width: 100%;
bottom: 0;
margin-bottom: 10px;
}

.footer .footerNav {
    font-size: 18px;
    font-family:"sans-serif";
    line-height: 24px;
}

.footer .footerNav a {
    text-decoration: none;
    color:rgb(230, 227, 227);
}

.footer .footerInfo {
    font-size: 15px;
    font-family:"sans-serif";
    line-height: 24px;
    color:rgb(230, 227, 227);
}

.footer .footerService {
    font-size: 18px;
    font-family:"sans-serif";
    line-height: 24px;
    color:rgb(230, 227, 227);
}

.footer .footerService a {
    text-decoration: none;
}
 a:visited {
    color:rgb(230, 227, 227);
}

.footer .footercompany span {
    font-size: 15px;
    font-family:"sans-serif";
    line-height: 24px;
    color:rgb(230, 227, 227);
}

.footer .footeraddress span {
    font-size: 15px;
    font-family:"sans-serif";
    line-height: 24px;
    color:rgb(230, 227, 227);
}

.footer .AwooFootLogo {
    width:100px;
    position: absolute;
    left: 70%;
    top: 20%;
    float: left;
}

.footer .AwooFootText1 {
    font-size: 15px;
    font-family:"sans-serif";
    line-height: 24px;
    color: #999;
    position: absolute;
    left: 80%;
    bottom: 60%;
    float: left;
}

.footer .AwooFootText2 {
    color: #999;
    font-weight: bold;
    font-size: 26px;
    font-family:"sans-serif";
    line-height: 24px;
    position: absolute;
    left: 80%;
    bottom: 45%;
    float: left;
}