dl, dt, dd, ul, ol, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}


.orders {
	width: 100%;
	margin-top: 10px;
}

.head-menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	padding: .5px;
}

.head-menu-item {
	flex-grow: 1;
	text-align: center;
	padding: .5px;
}

.head-menu-item span {
	background: #fff;
	box-shadow: 0 0 0 1px #ccc;
	color: #383838;
	z-index: 0;
	position: relative;
	font-size: 13px;
	padding: 10px 20px;
	display: block;
}

.head-menu .menu-click {
	background: #f63577;
	box-shadow: 0 0 0 1px #f63577;
	color: #fff;
}

.pageInfo.h1 {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 0;
	height: 22px;
	color: #ca3575;
	line-height: 22px;
	font-size: 21px;
	padding-left: 6px;
	border-left: solid 6px #ca3577;
}

.body-product {
	width: 100vw;
	margin-top: calc(10px - 7.5px);
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
}

.master-container {
	min-width: 100vw;
	background: #eee;
}

.wrap-page {
	max-width: 88vw;
	margin: 0 auto;
}

.product-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.product-container a:link {
	color: #383838
}
.product-container a:visited {
	color: #383838
}
.product-container a:hover {
	color: #383838
}
.product-container a:active {
	color: #383838
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	list-style: none;
}

.product-container li {
	width: 283px;
	margin: 0 0 15px 11px;
	border: 1px solid transparent;
	text-align: center;
	background: #fff;
	vertical-align: top;
	position: relative;
}

.product-container li:hover {
	border: 1px solid #ee5c83;
	cursor: pointer;
}

.product-container li .pro-img {
	display: block;
	position: relative;
	padding: 5px;
}

.pro-img img {
	width: 100%;
	display: block;
}

.product-name {
	display: -webkit-box;
	height: 40px;
	margin: 0 0 10px;
	line-height: 145%;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-align: left;
	line-height: 20px;
	padding: 9px;
}


.sale-price {
	font-size: 32px;
	position: relative;
    height: 28px;
	color: #ee4d79;
	display: inline-block;
}

.nt{
	font-size: 22px;
	color: #ee4d79;
	font: inherit;
}

.body-pagination {
	flex-grow: 1;
    margin-top: 10px;
    text-align: center;
}

.body-pagination ul {
	display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.body-pagination li {
    cursor: default;
    text-align: center;
    width: 36px;
    line-height: 38px;
    height: 38px;
    font-size: 13px;
}

.body-pagination li a {
    transition: .3s;
    background: #fff;
    color: #383838;
	border-color: #ccc;
	display: block;
    width: 100%;
    height: 100%;
    border-width: 1px;
	border-style: solid;
	cursor: pointer;
}

.body-pagination li a:hover {
    color: #f63577;
}

.body-pagination li a.disabled{
	cursor: default;
    background: #f63577;
    border-color: #f63577;
    color: #fff;
}